(ns aoc22.day?
  (:require [clojure.string :as str]
            [clojure.set :as set]
            [clojure.java.io :as io]
            [medley.core :as m]))

(def test-input "")

(defn part-1 [s]
  )

(part-1 test-input) ; want ?

(def input (slurp (io/resource "day?.txt")))

(part-1 input)

(defn part-2 [s]
  )

(part-2 test-input) ; want ?

(part-2 input)
